In [1]:
import pandas as pd
import DataLoading
import os
import glob
import numpy as np

In [2]:
def list_executions_from_Starnet_results(folder, case): 
    filenames = glob.glob(pathname="oT_Input*",root_dir=folder)
    executions = [fn.split(case)[1][1:-4] for fn in filenames]
    return executions

In [4]:
def list_investments_candidates_from_execs(executions): 
    l = [execution.strip("12345").strip("_cac") for execution in executions if execution != "Network_Existing_Generation_Full"]
    
#     return list(set(l))
    return np.unique(l)

In [16]:
folder_read = "../10.StarNet/RTS24/ClusterResults/Results_PF/"
case = "RTS24"

executions = list_executions_from_Starnet_results(folder_read,case)
ics = list_investments_candidates_from_execs(executions)

folder_write = "RTS24_AC_12w_ext_o_dummy"
per = 2030
sc = "sc01"
exe = executions[0]

pd.read_csv(f"../Data/{folder_write}/output_f_{sc}_{exe}_{per}_PowerOutput.csv").columns

Index(['LoadLevel', '101_CT_1', '101_CT_2', '101_PV_1', '101_PV_2', '101_PV_3',
       '101_PV_4', '101_STEAM_3', '101_STEAM_4', '102_CT_1', '102_CT_2',
       '102_PV_1', '102_PV_2', '102_STEAM_3', '102_STEAM_4', '103_PV_1',
       '104_PV_1', '107_CC_1', '113_CT_1', '113_CT_2', '113_CT_3', '113_CT_4',
       '113_PV_1', '115_STEAM_1', '115_STEAM_2', '115_STEAM_3', '116_STEAM_1',
       '118_CC_1', '118_RTPV_1', '118_RTPV_10', '118_RTPV_2', '118_RTPV_3',
       '118_RTPV_4', '118_RTPV_5', '118_RTPV_6', '118_RTPV_7', '118_RTPV_8',
       '118_RTPV_9', '119_PV_1', '121_NUCLEAR_1', '122_HYDRO_1', '122_HYDRO_2',
       '122_HYDRO_3', '122_HYDRO_4', '122_HYDRO_5', '122_HYDRO_6',
       '122_WIND_1', '123_CT_1', '123_CT_4', '123_CT_5', '123_STEAM_2',
       '123_STEAM_3'],
      dtype='object')

In [29]:
pd.read_csv(f"../Data/{folder_write}/output_f_{sc}_{exe}_{per}_PowerOutput.csv").columns.str.split("_").str[1].unique().sort_values()

Index(['CC', 'CT', 'HYDRO', 'NUCLEAR', 'PV', 'RTPV', 'STEAM', 'WIND', nan], dtype='object')

In [19]:
pd.read_csv(f"../Data/{folder_write}/output_f_{sc}_{exe}_{per}_SystemCosts.csv")

                 LoadLevel  vTotalCCost  vTotalECost  vTotalGCost  vTotalRCost
0     01-01 00:00:00+01:00          0.0     0.000000     0.000047          0.0
1     01-01 01:00:00+01:00          0.0     0.000000     0.000047          0.0
2     01-01 02:00:00+01:00          0.0     0.000000     0.000049          0.0
3     01-01 03:00:00+01:00          0.0     0.000000     0.000053          0.0
4     01-01 04:00:00+01:00          0.0     0.000486     0.000447          0.0
...                    ...          ...          ...          ...          ...
2179  12-09 19:00:00+01:00          0.0     0.001746     0.001455          0.0
2180  12-09 20:00:00+01:00          0.0     0.001395     0.001174          0.0
2181  12-09 21:00:00+01:00          0.0     0.000511     0.000466          0.0
2182  12-09 22:00:00+01:00          0.0     0.000000     0.000053          0.0
2183  12-09 23:00:00+01:00          0.0     0.000000     0.000049          0.0

[2184 rows x 5 columns]

In [7]:
outp = pd.read_csv(f"../Data/RTS24_AC_fy_ext_o_dummy/")

NameError: name 'exe' is not defined